html,
body,
#root {
  height: 100%;
}

body {
  background-color: grey;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1613686188_25-p-fon-dlya-prezentatsii-pogoda-25.png');
  border-radius: 10px;
  border: 2px solid #fff;
  min-width: 500px;
  background-color: #00b4d8;
  min-height: 300px;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5);
}

.search {
  margin-left: 10px;
  background-color: inherit;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.5rem;
  color: #fff;
  outline: none;
}

.search::placeholder {
  color: #fff;
}

.btn-submit {
  padding: 6px 7px;
  border-radius: 5px;
  background-color: #d00000;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.5s;
}

.btn-submit:hover {
  background-color: red;
}

.weather-box {
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
  border: 3px solid steelblue;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  background-color: #fff;
  float: left;
  margin-left: 10px;
  transition: transform 0.3s ease-out;
}

.weather-box:hover {
  transform: scale(1.2);
}

.temperature {
  margin-top: 5px;
  font-style: italic;
}

.city {
  margin-top: 5px;
}

.weather {
  margin-top: 3px;
  font-style: italic;
}

[role='alert'] {
  color: red;
}
